 *
{
    margin: 0px;
    padding: 0px;
}
body
{
   background-image:linear-gradient(to right bottom,black,#464646,#a56305);
   animation:movinggradient 10s ease infinite;
   background-size:200%;
}
@keyframes movinggradient 
{
	0%{
		background-position: 0% 50%;
	}
	50%
	{
		background-position: 100% 50%;
	}
	100%
	{
		background-position: 0% 50%;
	} 

}
.wrapper
{
    width: 100%;
    height: auto;
}

.navigation
{
    height: 30vh;
    display: flex;
    justify-content: space-between;
}
.navigation img
{
    width: 10%;
    height: auto;
    position: relative;
    left: 10%;
}

.holder
{
    position: relative;
    display: flex;
    height: 50%;
    width: 30%;
    margin: 3%;
}

.holder ul #parent
{
    list-style: none;
    font-size: 20%;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
    top:30%;
    left: 20%;
    height: 20%;
    padding: 10px;
    transition: 0.3s;
    transition-property: background-image;
}

#child
{
    list-style: none;
    margin-top: 11px;
    width: 100%;
    position: absolute;
    left: 0px;
}
#child li
{
    padding: 5px;
    text-transform: capitalize;
    background-image: radial-gradient(rgba(255, 255, 0,0.7),rgba(255, 165, 0,0.8));
}
.holder .fas
{
    margin-left: 8px;
    transform: rotate(90deg);
}
ul li 
{
    float: left;
}
form
{
    display:flex;
    margin-top: 30px;
    margin-left: 30px;
}
ul li a
{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    z-index: 1;
}
#parent:hover{
    background-image: radial-gradient(rgba(255, 255, 0, 0.7),rgba(255, 166, 0, 0.7));
}
#child a:hover{
    color: #000;
}
ul li ul li {
    float:none;
}
ul li ul {
    display: none; 
}
ul li:hover ul{
    display: block;
}
#search
{
    width:500%;
    height: 35%;
    border-color: transparent;
    box-shadow: 5px 0px 8px 1px rgb(146, 143, 143);
}

#button
{
    width:250%;
    height: 35%;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    background-image:  radial-gradient( rgb(255,197,120) 0%,rgb(251,157,35) 100%);
    border-radius: 3%;
    border-color: transparent; 
    box-shadow: 1px 0px 8px 0px rgb(146, 143, 143);
}

.content
{
    height: 70vh;
}

.section1
{
    width: 50%;
    height: 70%;
    position: absolute;
    top:30%;
    left:0%;
}
.main
{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}
.main h1
{
    color: transparent;
    font-family: Arial;
    text-transform: capitalize;
    font-size: 500%;
    letter-spacing: -10%;
    -webkit-text-stroke: 1px rgb(255, 197, 5);
    background-image: url(ref2.jpeg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.main h2
{
    color: rgb(238, 124, 17);
    font-weight: 100;
}
.main p
{
    color:#eee;
}
#login-btn
{
   width: 20%;
   height: 10%;
   background-image: radial-gradient( rgb(210,255,82) 0%,rgb(145,232,66) 100%);
   padding: 2px;
   font-size: 16px;
   position: absolute;
   left: 10%;
   border-color: transparent;
   box-shadow:  1px 0px 8px 0px rgb(146, 143, 143);
}
.section2
{
    width: 50%;
    height: 70%;
    position: absolute;
    top:30%;
    left:50%;
    z-index: -1;
}

.collage
{
    width: 43%;
    height: 60%;
    color:#eee;
    position: absolute;
    top: 20%;
    left: 20%;
    animation-name: images;
    animation-duration: 20s;
    transition-duration: 0.2s;
    transition-property: background-image;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
  
 @keyframes images {
    0%   {
        background-image: url("pic 7.jpg");
       background-size: 300px 280px;
       background-repeat: no-repeat;
    }
    20%  {background-image: url("pic 2.jpg");
        background-size: 300px 280px;
        background-repeat: no-repeat;}
    40%  {background-image: url("pic 3.jpg");
        background-size: 300px 280px;
        background-repeat: no-repeat;}
    60% {background-image: url("pic 4.jpg");
        background-size: 300px 280px;
        background-repeat: no-repeat;}
    80%  {background-image: url("pic 5.jpg");
            background-size: 300px 280px;
            background-repeat: no-repeat;}
    100%  {background-image: url("pic 7.jpg");
            background-size: 300px 280px;
            background-repeat: no-repeat;}

  }
  .collage:before
  {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background: #eee;
      z-index: -1;
  }
  .collage:after
  {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      background: #eee;
      z-index: -2;
      filter: blur(30px);
  }
 
  