html 
{  line-height: 1.15;
 font-family: Poppins;
 font-size: 16px;
}
body 
{
	width:100%;
	margin: 0;
	font-weight: 400;
      font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color:#000000ff;
        background-color:white;
}
* 
{ 
 box-sizing: border-box; 
 border-width: 0; 
 border-style: solid;
 }
 p,li,ul,pre,div,h1,h2,h3,h4,h5,h6 {
	 margin: 0; 
	 padding: 0;
	 }
button,input,optgroup,select,textarea 
{  font-family: inherit; 
 font-size: 100%;  
 line-height: 1.15; 
 margin: 0;
 }
 button,select 
 { 
 text-transform: none;
 }
 button,[type="button"],[type="reset"],[type="submit"]
 {  
 -webkit-appearance: button;
 }
 a 
 {  
 color: inherit;
 text-decoration: none;

 }

 img 
{ 
 display: block;
}
header
{
	position:fixed;
	transition:0.6s;
	z-index:100000;
	 display: flex;
	width:100%;
    justify-content: flex-end;
    align-items: center;
    background-color:rgba(0, 0, 0);
    color: white;
	text-align:left;
}
.navbar {
    display: flex;
	flex-direction:row;
    position: sticky;
	top:0px;
	width:100%;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0, 0, 0, );
    color: white;
	text-align:left;
}

.brand-title {
	
    font-size: 1.9rem;
    margin: .5rem;
	color: transparent;
    font-family: Arial;
    text-transform: capitalize;
    background-image: url(gold.jpeg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 40s linear infinite; 
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.navbar-links {
    height: 100%; 
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
  
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.image {
  width: 60px;
  object-fit: cover;
}

.top-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("background image.jpg");
    background-attachment: fixed;

}
.hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: row;
  padding-bottom: 3em;
  justify-content: space-between;
}

.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button {
  color: #FFFFFF;
  border: none;
  padding-top: 0.5em;
  padding-left: 2em;
  border-radius: 50px;
  padding-right: 2em;
  padding-bottom: 0.5em;
  background-color:#921636ff;
  
}
.content-container {
  width: 567px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.text09 {
  color: #FFFFFF;
}
.subheading {
  color: #FFFFFF;
}
.text10 {
  color: #FFFFFF;
  padding-top: 2em;
  padding-bottom: 2em;
}




.main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: column;
  padding-bottom: 4em;
  justify-content: flex-start;
   background-image: linear-gradient(to right bottom, white, grey);
}
.cards-container {
  width: 100%;
  display: flex;
  grid-gap: 2em;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 2em;
  align-items: flex-start;
  margin-bottom: 2em;
  flex-direction: row;
  justify-content: space-between;
}

.place-card-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
     transition: 0.5s;
}
.place-card-image:hover
{
	transform:scale(1.06);
	z-index:2;
}

.place-card-container1 {
  width: 100%;
  display: flex;
  padding:1em;
  align-items: center;
  flex-direction: column;
   transition: 1s;
}
.place-card-container1:hover
{
	transform:scale(1.06);
	z-index:2;
}
.place-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom:0.5em;
}
.place-card-text1 {
  font-size: 16;
  max-width: 250px;
  margin-bottom:2em;
}
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
	brand-title {
		flex-direction:row;
	}
}

.outline-button-container {
  display: flex;
  position: relative;
}
.outline-button {
  color:white;
  padding-top: 1em;
  border-color: white;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  padding-right: auto;
  padding-bottom: 1em;
  background-color:#921636ff;
}
.footer {
  color:#FFFFFF;
  width: 100%;
  display: flex;
  padding: 3em;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color:#000000ff;
  padding: 2px;
}
.footer p
{
    margin: 30px;
    font-family: serif;
}
.footer p  a
{
    text-decoration: none;
    color:rgba(236, 182, 4, 0.966);
}
.footer ion-icon
{
    color:white;
    font-size: 20px;
    padding: 5px 0px 0px 10px; 
    transition: 0.3s ease;  
}
.footer ion-icon:hover
{
    color:rgba(236, 182, 4, 0.966);
    font-size: 24px;
}